absl-py==1.0.0
aflow==0.0.11
aiohttp==3.8.1
aiosignal==1.2.0
altair==4.2.0
antlr4-python3-runtime==4.8
anyio==3.5.0
apscheduler==3.6.3
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
ase==3.22.1
astor==0.8.1
astroid==2.9.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.6.0
babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.4
brotlipy==0.7.0
cachetools==5.0.0
cdvae==0.0.1
certifi==2021.10.8
cffi==1.15.0
cftime==1.6.0
charset-normalizer==2.0.12
citrination-client==6.5.1
click==8.1.2
colorama==0.4.4
configparser==5.2.0
cryptography==36.0.2
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
docker-pycreds==0.4.0
dscribe==1.2.1
entrypoints==0.4
executing==0.8.3
fair-research-login==0.3.0
fastjsonschema==2.15.3
flask==2.1.1
fonttools==4.32.0
frozenlist==1.3.0
fsspec==2022.3.0
future==0.18.2
gitdb==4.0.9
gitpython==3.1.27
globus-nexus-client==0.4.1
globus-sdk==3.7.0
gmpy2==2.1.2
google-auth-oauthlib==0.4.6
google-auth==2.6.4
googledrivedownloader==0.4
grpcio==1.45.0
higher==0.2.1
httplib2==0.20.4
hydra-core==1.1.0
hydra-joblib-launcher==1.1.5
hydra==2.5
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.7.0
iniconfig==1.1.1
ipykernel==6.13.0
ipython-genutils==0.2.0
ipython==8.2.0
ipywidgets==7.7.0
isodate==0.6.1
isort==5.9.3
itsdangerous==2.1.2
jedi==0.18.1
jinja2==3.1.1
jmespath==1.0.0
joblib==1.1.0
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.2.2
jupyter-core==4.9.2
jupyter-server==1.13.5
jupyterlab-pygments==0.2.1
jupyterlab-server==2.10.3
jupyterlab-widgets==1.1.0
jupyterlab==3.3.2
kiwisolver==1.4.2
latexcodec==2.0.1
lazy-object-proxy==1.6.0
llvmlite==0.38.0
loguru==0.6.0
markdown==3.3.6
markupsafe==2.1.1
matminer==0.7.3
matplotlib-inline==0.1.3
matplotlib==3.5.1
mccabe==0.7.0
mdf-forge==0.7.7
mdf-toolbox==0.5.8
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
monty==2022.3.12
mpmath==1.2.1
multidict==6.0.2
multiprocess==0.70.12.2
munkres==1.1.4
nbclassic==0.3.5
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.3.0
nest-asyncio==1.5.5
netcdf4==1.5.7
networkx==2.8
nglview==3.0.3
notebook==6.4.10
numba==0.55.1
numpy==1.21.5
oauthlib==3.2.0
omegaconf==2.1.2
p-tqdm==1.3.3
packaging==21.3
palettable==3.3.0
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pathos==0.2.8
pathtools==0.1.2
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.1.0
pint==0.19.1
pip==22.0.4
platformdirs==2.4.0
plotly==5.7.0
pluggy==1.0.0
pox==0.3.0
ppft==1.6.6.4
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.29
protobuf==3.20.0rc2
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==7.0.0
pyasn1-modules==0.2.7
pyasn1==0.4.8
pybind11-global==2.9.2
pybind11==2.9.2
pybtex==0.24.0
pycodestyle==2.8.0
pycparser==2.21
pydeck==0.7.1
pydeprecate==0.3.0
pygments==2.11.2
pyjwt==2.3.0
pylint==2.12.2
pymatgen==2022.3.29
pymongo==4.1.0
pyopenssl==22.0.0
pyparsing==3.0.8
pypif==2.1.1
pyrsistent==0.18.1
pysocks==1.7.1
pytest==7.1.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-louvain==0.16
pytorch-lightning==1.3.8
pytz-deprecation-shim==0.1.0.post0
pytz==2022.1
pyu2f==0.1.5
pyyaml==5.4.1
pyzmq==22.3.0
rdflib==6.1.1
requests-mock==1.9.3
requests-oauthlib==1.3.1
requests==2.27.1
rsa==4.8
ruamel.yaml.clib==0.2.6
ruamel.yaml==0.17.21
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
send2trash==1.8.0
sentry-sdk==1.5.9
setproctitle==1.2.3
setuptools==59.5.0
shortuuid==1.0.8
sip==4.19.13
six==1.16.0
smact==2.2.1
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.2
sparse==0.13.0
spglib==1.16.3
stack-data==0.2.0
statsmodels==0.13.2
streamlit==0.79.0
subprocess32==3.5.4
sympy==1.10.1
tabulate==0.8.9
tenacity==8.0.1
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.1
tensorboard==2.8.0
termcolor==1.1.0
terminado==0.13.3
testpath==0.5.0
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
torch-cluster==1.5.9
torch-geometric==1.7.2
torch-scatter==2.0.7
torch-sparse==0.6.10
torch-spline-conv==1.2.1
torch==1.9.0
torchdiffeq==0.0.1
torchmetrics==0.7.3
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
typing-extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
ujson==5.2.0
uncertainties==3.1.6
unicodedata2==14.0.0
urllib3==1.26.9
validators==0.18.2
vtk==9.0.3
wandb==0.12.16
watchdog==2.1.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
werkzeug==2.1.1
wheel==0.37.1
widgetsnbextension==3.6.0
wrapt==1.13.3
yarl==1.7.2
zipp==3.8.0